.container {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    color: var(--black);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}


.info {
    width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.infoImg {
    align-self: center;
    width: 40%;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.info .infoText {
    width: 55%;
}

.infoDescription {
    font-size: 0.9rem;
    line-height: 24px;
}



@media (min-width: 992px ) and (max-width:1200px) {

    .title {
        font-size: 1.3rem;
    }

    .info {
        width:80%;
    }

    .info .infoText {
        width: 60%;
    }

}

@media (min-width: 768px ) and (max-width:991.98px) {

    .info {
        width:95%;
        gap: 1.5rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .infoImg {
    width: 35%;
    }

}

@media (max-width:767.98px) {

    .container {
        padding: 1.5rem;
    }

    .info {
        width:95%;
        gap: 1.5rem;
        flex-direction: column;
    }

    .title {
        font-size: 1.1rem;
    }

    .infoImg {
    width: 60%;
    }

    .info .infoText {
        width: 70%;
    }

    .infoDescription {
        font-size: 0.8rem;
        line-height: 20px;
    }
}

@media (max-width:576px) {

    .container {
        padding: 1rem;
    }

    .info {
        width:100%;
        gap: 1rem;
        flex-direction: column;
    }

    .title {
        margin-top: 5rem;
    }

    .infoImg {
    width: 80%;
    }

    .info .infoText {
        width: 80%;
    }

    .infoDescription {
        font-size: 0.8rem;
        line-height: 20px;
    }
}

