.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 70%;
}

.slider {
    display: flex;
    cursor: grab;
}

.containerImg {
    width: 20rem;
    height: auto;
    padding: 0.5rem;
 
}

.img {
    height: 100%;
    width: 100%;
    pointer-events: none;
}

@media screen and (max-width:992px) {
    
    .containerImg {
        width: 15rem;
    }
}

@media screen and (max-width:576px) {
 
    .containerImg {
        width: 12rem;
    }
}