.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.card {
    width: 60%;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 1rem;
    padding: 1.5rem;
}

.cardHeader {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--green);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.301);
}

.cardImage {
    width: 85%;
    margin: auto;
}

.cardImage img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.cardText {
    margin: 1rem;
    list-style: none;
    padding-top: 2rem;
    width: 85%;
    margin: auto;
    font-size: 0.9rem;
    line-height: 2;
    color: var(--green);
}

@media screen and (max-width: 576px) {

    .container {
        margin-top: 6rem;
        padding: 1rem;
    }

    .card {
        width: 80%;
    }

    .cardHeader {
        font-size: 0.8rem;
    }

    .cardImage {
        width: 95%;
        margin: auto;
    }
    

    .cardText {
        margin: 1rem;
        list-style: none;
        padding-top: 2rem;
        width: 100%;
        margin: auto;
        font-size: 0.8rem;
        line-height: 2;
        color: var(--green);
    }
    
}

@media screen and (max-width: 380px) {

    .card {
        width: 100%;
    } 
}